# Dependencies
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Cucumber & Allure
reports/
screenshots/
allure-results/
allure-report/

# JMeter & Performance
jmeter/
jmeter-dashboard/
apache-jmeter-*/
# results.jtl  <-- Keep this commented out so the workflow can find your data file

# Deployment & OS
temp_deploy/
.DS_Store
Thumbs.db