# Mark UI folders as 'vendored' (ignored by stats)
portfolio-ui/** linguist-vendored
jmeter/HTML_Report/** linguist-vendored

# Ensure your actual code is detectable
**/*.ts linguist-detectable
**/*.jmx linguist-detectable